# Optional:
# Point this to your Google Drive synced Excel file path.
# Example on macOS:
# EXCEL_PATH="/Users/yourname/Library/CloudStorage/GoogleDrive-your_email/My Drive/Stock/inventory_master.xlsx"

EXCEL_PATH="./app/data/inventory_master.xlsx"
DB_PATH="./app/data/inventory.db"
